.contacts {
    background-color: $background-main;
    display: flex;
    justify-content: center;
    gap: 65px;

    .contacts-title {
        h2 {
            font-size: 64px;
            color: $second-main-text-color;
            font-family:'Onest';
            font-weight: 500;
            margin-top: 152px;
        } 

        p {
            font-size: 20px;
            color: $main-text-color;
            font-weight: 482;
        }
    }
    
    .contacts-inf {
        display: flex;
        flex-direction: row;
        
        .inf-list {
            list-style: none;
            width: 200px;
            display:flex;
            align-items:flex-start;
            padding: 0;
            margin: 0;
            flex-direction:column;
            justify-content: space-between;
            gap:25px;
            position:relative;
            
            .name-of-thing {
                color: $main-text-color;
                font-size: 20px;
            }

            .inf-of-thing {
                color: $second-main-text-color;
                font-size: 20px;
                font-weight: 600;
                width: 300px;
            }
        }
    }

    .contacts-sm {
        color: $main-text-color;
        width: 42px;
        height: 42px;
        display: flex;
        margin-top: 22px;
        gap: 25px;

        :hover {
            color: $first-section-button-right;
        }
    }

    img {
        display: flex;
        margin-top: 152px;
    }
}