// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }


body{
    background-color: $background-main;
    color: $second-main-text-color;
    font-family: Arial, Helvetica, sans-serif;
}


.logo{
    padding-left: 75px;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0px 100px;
}

.subtitle {
    color: $footer-second-color-text;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.hero p {
    color: $main-text-color;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    gap: 25px;
}

.buttons button {
    padding: 20px 30px;
    border-radius: 5px;

    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;

}

// .buttons a {
//     text-decoration: none;
//     font-weight: 600;
//     font-size: 15px;
//     padding: 14px 28px;
//     border-radius: 6px;
//     transition: all 0.2s ease;
//     display: inline-block;
// }

.view-catalog-btn {
    background-color: $first-section-button-right;
    color: $background-main;
    border: 0;

    &:hover {
        background-color: #FF5132;
    }
}

.about-store-btn {
    background-color: transparent;
    color: $second-main-text-color;
    border: 1px solid $first-section-button-left;
    transition: border-color 0.3s ease;

    &:hover {
        border-color: $header-background-color;
        color: $header-background-color;
    }
}

// .about-store-btn:hover {
//     border-color: $second-main-text-color;
// }
