$header-background-color : #FF330E;
$main-text-color : #B3B3B3;
$second-main-text-color : #FFFFFF;
$background-main : #131316;
$first-section-button-right : #FF3D1A;
$first-section-button-left : #434343;
$second-section-container : #1E1E22;
$third-section-and-footer-background-color : #1A1A1E;
$third-section-numbers-color : #ED3B1B;
$third-section-second-color-text : #D9D9D9;
$footer-second-color-text: #5F5F61;